<div class="group">
    <div class="semigroup col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/Fotoperfil.jpg" class="img-fluid" id="fotoCV">
    </div>
    <div class="semigroup col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="nombre">{{person.name}} {{person.surname}}</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="semigroup col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <span>
            <h2>Acerca de mí</h2>
            <p>Soy Contadora Pública Nacional con amplios conocimientos en auditoría, pero he decidido reinventarme y he comenzado a estudiar Ingeniería en Sistemas. Actualmente, además de estudiar en la Universidad, estoy realizando cursos de capacitación para inmiscuirme en el área de la progamación. </p>
        </span>
    </div>
</div>
